<form jd-panel jd-title="Lista de Animais" ng-controller="app.core.animals.AnimalsCtrl as animalsCtrl" name="animalsForm">
    <div class="row">
  	    <input jd-input type="search" placeholder="Pesquisar" ng-model="animalsCtrl.animalsModel.searchText">
	</div>
    <div id="products" class="row list-group">
	    <div class="item  col-xs-4 col-lg-4" ng-repeat="animal in animalsCtrl.animalsModel.animalList | filter:animalsCtrl.animalsModel.searchText">
	        <div class="thumbnail">
	            <img class="group list-group-image" ng-src={{animal.img}} style="width=358px; height=224px;" />
	            <div class="caption">
	                <div class="row">
	                    <div class="col-xs-12 col-md-6">
	                        <h2>{{animal.name}}<small><p>{{animal.spitz}}</p></small></h2>
	                    </div>
	                </div>
	                <p class="group inner list-group-item-text">{{animal.desciption}}</p>
	                <div class="divider"></div>
	                <div class="row">
	                    <div class="col-xs-12">
	                        <a class="btn btn-success" ng-click="animalsCtrl.animalDetail(animal)" jd-i18n>Quero adotar</a>
	                        <a class="btn btn-danger" ng-click="animalsCtrl.removeAnimal(animal)" as-roles-to-show="ADMIN" jd-i18n>Remover</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</form>