<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" jd-i18n>Adote-me</a>
    </div>
    <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
            <li><a href="#/core/animals" jd-i18n>Animais</a></li>
            <li><a href="#/core/donate" jd-i18n>Quero Doar</a></li>
            <li><a href="#/common/components" jd-i18n>Componentes</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:;" alt="Português" ng-disabled="appCtrl.getLanguage() == 'pt'"><img src="assets/img/pt-BR.png" ng-click="appCtrl.setLanguage('pt')" /></a></li>
            <li><a href="javascript:;" alt="English" ng-disabled="appCtrl.getLanguage() == 'en'"><img src="assets/img/en-US.png" ng-click="appCtrl.setLanguage('en')" /></a></li>
            <li><a href="javascript:;" jd-i18n title="Sair" ng-click="appCtrl.signout()"><span class="glyphicon glyphicon-off"></span></a></li>
        </ul>
        <div class="nav navbar-nav navbar-right"><p class="navbar-text">{{appContext.identity.name}}</p></div>
    </div>
  </div>
</nav>

<jd-breadcrumb></jd-breadcrumb>