<div class="page col-md-5 col-md-offset-4" app-full-screen-page>
    <div class="panel panel-default" app-full-screen-page>
        <div class="panel-heading text-center">
            Adote-me
        </div>

        <div class="panel-body">
            <form name="form_signup" class="form-horizontal form-validation" ng-controller="app.common.auth.signup.SignupCtrl as signupCtrl" novalidate ng-submit="signupCtrl.save()">
                <fieldset>
                    <div class="form-group">
                        <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light">
                            <span class="fa fa-pencil-square-o"></span>
                        </div>
                        <input type="email"
                               class="form-control input-lg input-round text-center"
                               app-input
                               required
                               ng-maxlength="100"
                               ng-model="signupCtrl.signupModel.email"
                               i18n placeholder="Email">
                    </div>
                    <div class="form-group">
                        <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light">
                            <span class="fa fa-pencil-square-o"></span>
                        </div>
                        <input type="text"
                               class="form-control input-lg input-round text-center"
                               app-input
                               required
                               ng-maxlength="100"
                               ng-model="signupCtrl.signupModel.name"
                               i18n placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light">
                            <span class="fa fa-pencil-square-o"></span>
                        </div>
                        <input type="text"
                               name="signupCtrl.signupModel.cpf"
                               mask="cpf"
                               clean="true"
                               class="form-control input-lg input-round text-center"
                               app-input
                               required
                               ng-model="signupCtrl.signupModel.cpf"
                               i18n placeholder="CPF">
                    </div>
                    <div class="form-group">
                        <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light">
                            <span class="fa fa-pencil-square-o"></span>
                        </div>
                        <input type="password"
                               class="form-control input-lg input-round text-center"
                               app-input
                               required
                               ng-model="signinCtrl.signinModel.password"
                               i18n placeholder="Senha">
                    </div>
                    <div class="form-group">
                        <div class="btn-icon-lined btn-icon-round btn-icon-sm btn-default-light">
                            <span class="fa fa-pencil-square-o"></span>
                        </div>
                        <input type="password"
                               class="form-control input-lg input-round text-center"
                               app-input
                               required
                               app-validate-equals="signinCtrl.signinModel.password"
                               ng-model="signinCtrl.signinModel.confirmPassword"
                               i18n placeholder="Confirmação de Senha">
                    </div>
                    <div class="form-group">
                        <button type="submit"
                                class="btn btn-primary btn-lg btn-round btn-block text-center"
                                ng-disabled="!form_signup.$valid" i18n>Salvar
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>