@import "compass";

/* custom css */
.body-wide #header {
	display: none;
}

.form-control.ng-dirty.ng-invalid {
	border: 1px solid #C72557
}

.form-horizontal .control-label {
	padding-top: 0px;
	margin-bottom: 0;
}

@media (max-width: 767px) {
    .form-horizontal .control-label.col-xs-12 {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .form-horizontal .control-label.col-sm-12 {
        text-align: left;
    }
}

@media (min-width: 992px) {
    .form-horizontal .control-label.col-md-12 {
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .form-horizontal .control-label.col-lg-12 {
        text-align: left;
    }
}

.btn-control {
    margin-top: 0px;
}

.btn-control-label {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .btn-control {
        margin-top: 0px;
    }

    .btn-control-label {
        margin-top: 0px;
    }
}

div.divider {
    margin: 20px;
}

a[disabled] img, img[disabled] {
    filter: alpha(opacity=60);
    opacity: .6;
}