<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        app-slim-scroll
        data-collapse-nav>
        <li>
            <a class="dropdown-toggle" data-toggle="dropdown">My Module</a>
            <ul class="dropdown-menu">
                <li >
                    <a class="dropdown-toggle" data-toggle="dropdown">My Submodule</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-href="#/myModule/mySubmodule/myFeature1">My Feature 1</a>
                        </li>
                        <li>
                            <a ng-href="#/myModule/mySubmodule/myFeature2">My Feature 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul><% if (props.useBreadcrumb) {%>
    <app-breadcrumb></app-breadcrumb><%}%>
</div>