/* custom css */
.body-wide #header {
	display: none;
}

.form-control.ng-dirty.ng-invalid {
	border: 1px solid #C72557
}

.form-horizontal .control-label {
	padding-top: 0px;
	margin-bottom: 0;
	text-align: left;
}